# Generate Synthetic Time Series Data with Dask

First, execute create-data.ipynb to create the required data sets.

## Imports

In [1]:
import dask
import dask.dataframe as dd

from dask.distributed import Client

## Start Dask Client

In [2]:
client = Client()

In [3]:
client

## Create ~900MB dataset

In [16]:
ddf = dask.datasets.timeseries(
    start='2000-01-01',
    end='2020-12-31',
    freq='30s',
    partition_freq='1d',
)

In [17]:
# ddf.memory_usage().sum().compute() / 1e9

0.883584

In [19]:
# ddf.head()

                       id      name         x         y
timestamp
2000-01-01 00:00:00   989       Bob -0.298115 -0.570104
2000-01-01 00:00:30   947  Patricia -0.998487 -0.522430
2000-01-01 00:01:00  1013    Victor  0.317766 -0.018864
2000-01-01 00:01:30   984     Zelda -0.606786  0.076914
2000-01-01 00:02:00  1017     Zelda -0.675820 -0.152123

In [18]:
ddf.to_parquet("data-900mb/")

[None]

## Create ~26GB dataset

In [4]:
ddf = dask.datasets.timeseries(
    start='1980-01-01',
    end='2020-12-31',
    freq='1s',
    partition_freq='1d',
)

In [5]:
# ddf.memory_usage().sum().compute() / 1e9

51.7536

In [6]:
# ddf.head()

                       id    name         x         y
timestamp
1980-01-01 00:00:00  1001  Ingrid  0.036391  0.700839
1980-01-01 00:00:01  1009   Alice -0.155686  0.154424
1980-01-01 00:00:02  1075   Wendy  0.813202 -0.366577
1980-01-01 00:00:03   946  Xavier -0.156739 -0.798744
1980-01-01 00:00:04   999  Ingrid -0.749491 -0.095637

In [7]:
ddf.to_parquet("data-52gb/")

[None]

## Close Client

In [8]:
client.close()